<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
        <link rel="stylesheet" href="~/UTTT.styles.css" asp-append-version="true">
    </head>
    <body>
        @RenderBody()

        <!-- <script src="~/js/index.js" asp-append-version="true"></script> -->
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
