@{
    ViewData["Title"] = "Ultimate TicTacToe";
}

<div id="display">
    <div
        id="connecting"
        hx-get="/game/ui/connecting"
        hx-trigger="js_call"
        hx-swap="outerHTML"
    ></div>
</div>

<script src="~/js/main.js" asp-append-version="true"></script>
