@{
    ViewData["Title"] = "Ultimate TicTacToe";
}

<div id="display">
    <div id="info">
        <p id="info-msg">Connecting...</p>
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>

<!-- <div id="board-container"> -->
<!--     <div id="ultimate-board"> -->
<!--     </div> -->
<!-- </div> -->

<script src="~/js/main.js" asp-append-version="true"></script>
