@{
    ViewData["Title"] = "Home Page";
}

<div id="display">
    <div id="landing">
        <h1>ULTIMATE TIC TAC TOE</h1>
    </div>

    <div id="options">
        <a href="/game">Play</a>
        <a href="/player">View Player Stats</a>
    </div>
</div>
