:root {
    --col-gray: #e3e3e3;
    --col0: #ffffff;
    --col1: #707070;
    --col2: #12bcff;
    --col3: #d4d4d4;
    --col4: #ededed;
    --col-activate: #cfe6ff;
    --col-disabled: #a9bacc;
    --col-highlight: #b8fce1;
    --col-x: #69ff87;
    --col-o: #e369ff;
    --col-winner: #b3ffb6;
    --col-loser: #ffb3b3;
    --col-unfinished: #8dadf2;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    background: var(--col0);
}

/** SITE **/

#landing {
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#options {
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#options a {
    width: 240px;
    height: 80px;
    border: 5px solid black;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    text-decoration: none;
}

#options a:hover {
    background: var(--col-gray);
}

/** PLAYERS **/

#flex-container {
    display: flex;
    justify-content: center;
}

#flex-content {
    width: 40%;
    background: var(--col-gray);
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 7px;
}

#flex-content a.btn {
    background: var(--col3);
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

#flex-content a.btn:hover {
    background: var(--col1);
    color: white;
}

/** Player Info **/

#playerinfo {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 7px;
}

a.game-info {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

a.game-info.no-winner {
    background: var(--col-unfinished);
}

a.game-info.winner {
    background: var(--col-winner);
}

a.game-info.loser {
    background: var(--col-loser);
}

a.game-info:hover {
    background: var(--col1);
}

#scoreboard {
    font-size: 52pt;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#scoreboard div {
    background: var(--col1);
    color: white;
    border-radius: 5px;
    padding: 0 20px;
}

#scoreboard span.wins {
    color: var(--col-winner);
}

#scoreboard span.losses {
    color: var(--col-loser);
}

/** TIC TAC TOE **/

#display {
    height: 100%;
}

#container {
    height: 100%;
}

#topbar {
    height: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#topbar a {
    border: 5px solid black;
    border-radius: 5px;

    margin: 3px;
    padding: 10px;

    color: black;
    text-decoration: none;
}

#topbar a:hover {
    background: var(--col-gray);
}

#info {
    height: 92%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32pt;
    text-align: center;

    gap: 15px;
}

#board-container {
    height: 92%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ultimate-board {
    width: min(600px, 100%);
    aspect-ratio: 1;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    background: var(--col1);
    border-radius: 3px;
    gap: 6px;
    padding: 5px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    background: var(--col2);
    border-radius: 3px;
    gap: 5px;
    padding: 3px;
}

.cell {
    background: var(--col3);
    border-radius: 2px;

    color: black;
    font-size: 24pt;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background: var(--col4);
}

.cell.disabled {
    background: var(--col-disabled);
}

.cell.activated {
    background: var(--col-activate);
}

.cell.highlight {
    background: var(--col-highlight);
}

.cell.x-taken {
    background: var(--col-x);
}

.cell.o-taken {
    background: var(--col-o);
}

/* Spinner */
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
