:root {
    --col0: #ffffff;
    --col1: #707070;
    --col2: #12bcff;
    --col3: #d4d4d4;
    --col4: #ededed;
    --col-activate: #cfe6ff;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    background: var(--col0);
}

#board-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ultimate-board {
    width: min(600px, 100%);
    aspect-ratio: 1;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    background: var(--col1);
    border-radius: 3px;
    gap: 6px;
    padding: 5px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    background: var(--col2);
    border-radius: 3px;
    gap: 5px;
    padding: 3px;
}

.cell {
    background: var(--col3);
    border-radius: 2px;

    color: black;
    font-size: 24pt;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background: var(--col4);
}

.cell.activate {
    background: var(--col-activate);
}
